apiVersion: v1
kind: Secret
metadata:
  name: grabshow-secret
  namespace: default
type: Opaque
stringData:
  # MySQL root password
  MYSQL_ROOT_PASSWORD: "CHANGE_ME"
  
  # MySQL user password
  MYSQL_PASSWORD: "CHANGE_ME"
  
  # Spring Boot datasource credentials
  SPRING_DATASOURCE_USERNAME: "bookmyshow"
  SPRING_DATASOURCE_PASSWORD: "CHANGE_ME"
